[submodule "urouter/.\\docs"]
	path = urouter/.\\docs
	url = https://github.com/Li-Lian1069/micropython-uRouter-docs
[submodule "docs"]
	path = urouter/docs
	url = https://github.com/Li-Lian1069/micropython-urouter-docs
	branch = v0.1-alpha-simplified-chinese
